*
{
    margin:0;
    padding:0;
    font-family:'Times New Roman';
    color:black;
    
}

header 
{
    background:url(Img/pasteleria.jpg);
}
header h1
{
 color:sandybrown;
 background:url(Img/pasteleria.jpg),content-box;
 padding:20px;
 text-align: center;
 font-family:Calibri;
 font:bold;
}

nav
{
    background-color:pink;
}
nav img
{
    border-radius: 50%;
    height:30px;
    padding: 5px;
    vertical-align:middle;
}
nav h3
{
    color:green;
    width:200px;
    /*flex-direction:row;*/
    box-sizing:border-box;
    margin:5px,0px;
    cursor:pointer;
    vertical-align:middle;
    position:relative;
    display:inline;
}
nav h3:hover
{
    background-color:aqua;
}
nav h3 img
{
    border: 2px solid #666666;
    height:150px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #111;
    padding: 10px,0px;
    background-color:burlywood;
    position:absolute;
    display:none;
    left:0px;
}

section
{
    /*background:url(Img/pasteleria.jpg);*/
    display:block;

}
section h2
{
    text-align: center;
    color:darkblue;
    padding:25px;
}
section form
{
    margin:10px; 
    display:none;  
}
form
{
    margin:10px 5px;
}
legend
{
    font-size:25px;
}
fieldset
{
    border:dotted;
    border-color:bisque;
    border-radius:50px;
    padding:25px;
}
fieldset div
{
    display:inline-block;
    height:50px;
    width:150px;
    padding:10px;
    box-sizing:padding-box;

}
figure
{    
    margin:0px 2px; 
    height:40px; 
    width:40px;
    float:left;
}
figure img
{
    height:40px;
    width:40px;
}

div h3
{
    color:green;
    display:grid;    
    width:100px;
    flex-direction:row;
    box-sizing:border-box;
    margin:5px;
    cursor:pointer;
    vertical-align:middle;
    position:center;
}
h3 input
{
   margin:5px 20px;
}
div input
{
    width:30px;
    margin:10px;
}





